/* Variables*/
/* Navigation */
body {
  margin: auto;
}

.navigation {
  position: relative;
  margin: auto;
}

.nav-left {
  font-family: "Permanent Marker", cursive;
  list-style-type: none;
  font-size: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  text-transform: uppercase;
  color: yellow;
  text-shadow: 1px 1px black;
}

.nav-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin: 15px;
  padding: 15px;
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px black;
}

.nav-right li {
  padding: 0 30px;
  font-size: 17px;
}

/* Splash */
.splash img {
  position: absolute;
  padding: 0;
  margin: 0;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 750px;
}

.splash-inner .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 750px;
}

.splash-inner h3 {
  font-size: 45px;
  font-family: "Quattrocento" serif;
  text-transform: capitalize;
  color: white;
  text-shadow: 2px 2px black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 0.5;
}

.splash-inner h1 {
  font-size: 75px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 0.5;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px black;
}

.btn-splash {
  display: inline-block;
  min-width: 250px;
  margin: 25px auto 0 auto;
  padding: 18px;
  text-decoration: none;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
  background-color: #ffd32a;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 33%;
}

/* services */
.services {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.services .title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.services h3 {
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 0.5;
}

.services h5 {
  font-size: 20px;
  font-family: "Quattrocento" serif;
  font-style: italic;
  color: grey;
  line-height: 0.5;
}

.description .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 35px 25px;
  text-align: center;
}

.description h4 {
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  margin: 0;
}

.description p {
  font-size: 15px;
  font-family: "Quattrocento" serif;
  color: grey;
  line-height: 1.5;
}

.description i {
  font-size: 35px;
  padding: 20px;
  color: #ffd32a;
  border-radius: 50%;
  box-sizing: content-box;
  border: 2px solid #ffd32a;
  margin-bottom: 15px;
}

/* Gallery */
.gallery {
  position: relative;
  background-color: #f1f2f6;
  padding-bottom: 80px;
}

.gallery-title {
  padding-top: 50px;
}

.gallery h3 {
  font-size: 45px;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  line-height: 0.5;
  margin-top: 85px;
  margin-bottom: 45px;
}

.gallery h5 {
  font-size: 15px;
  font-style: italic;
  color: grey;
  font-family: "Quattrocento" serif;
  line-height: 0.5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 10px;
  text-transform: capitalize;
}

.gallery h4 {
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Oswald", sans-serif;
  margin-bottom: 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.gallery-top .row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

.gallery-top img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 250px;
}

.gallery-top .col-sm-3 {
  margin: 15px;
  padding: 0;
  background-color: white;
}

.gallery-bottom .row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 55px;
}

.gallery-bottom img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 250px;
}

.gallery-bottom .col-sm-3 {
  margin: 15px;
  padding: 0;
  background-color: white;
}

/* footer */
.foot .container {
  position: relative;
  padding: 25px 0;
}

.foot .row {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  width: 100%;
  margin-left: 70px;
}

.foot .col-sm-3 {
  font-size: 13px;
  font-family: "Quattrocento" serif;
  color: grey;
}

.foot .col-sm-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.foot i {
  font-size: 35px;
  padding: 5px;
  color: black;
}
/*# sourceMappingURL=style.css.map */